.medico-card{
  display: flex;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  border: black solid 1px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  align-items: center;
}

.medico-card .imm{
  width: 33%;
}

.medico-card .imm img{
  width: 90%;
  border-radius: 10px;

}

.spec{
  display: inline-block;
  padding: 0.4rem 0.6rem;
  color: rgb(32, 32, 96);
  border-radius: 15px;
  border: solid 1px rgb(32, 32, 96);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  margin: 15px 0px;
}

.rece-card{
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  border: black solid 1px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  margin: 25px 0px;
}

.rece-card p{
  font-style: italic;
}