/* Generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container.mt-4 {
  color: #023841;
}

.ms-card {
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #d7f9ff;
}

.ms-card img {
  border-radius: 1000px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid #023841;
}

a {
  text-decoration: none;
}

.back{
  color: #7a7c7d;
}

.back:hover{
  cursor: pointer;
  color: #023841;
}

input.form-check-input:checked {
  background-color: #0097b2;
  border-color: #0097b2;
}

.btn-primary {
  background-color: #0097b2;
  border: #0097b2 solid 1px;
  margin-top: 10px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #023841;
  --bs-btn-border-color: #023841;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #138195;
  --bs-btn-hover-border-color: #242e3d;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #023841;
  --bs-btn-active-border-color: #242e3d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #023841;
  --bs-btn-disabled-border-color: #023841;
}

.linea {
  color: #0097b2;
  opacity: .5;
}

.registration{
  background-color: #bce9ff58;
  padding: 30px;
  border-radius: 30px;
}

body{
  min-height: 100vh;
}

/* Header e Footer */
footer {
  background-color: #0097b2;
  color: white;
}

nav {
  background-color: #0097b2;
}

ul.navbar-nav {
  --bs-nav-link-color: rgb(255, 255, 255);
  --bs-nav-link-hover-color: #9dd1da;
}


/* Dettaglio Medico */

.card-detail{
  /* border: #023841 solid 1px; */
  color: #023841;
  background-color: #d7f9ff;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  align-items: center;
}

.imm img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

button.spec {
  display: inline-block;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  border: #242e3d solid 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  margin: 15px 0px;
}

h3.my-4 {
  color: #023841;
}

.rece-card {
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  /* border: #023841 solid 1px; */
  color: #023841;
  background-color: #bce9ff58;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  margin: 25px 0px;
}

.rece-card p {
  font-style: italic;
  margin-bottom: 0px;
}

.no-rece {
  font-style: italic;
  margin: 30px 0px;
}

label span {
  padding-right: 10px;
}

form.recensioni {
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  /* border: #0097b2 solid 1px; */
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  margin: 25px 0px;
}

form.recensioni h3 {
  color: #0097b2;
}

/* Alert */

.fixed-alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999; 
  width: 60%; 
  max-width: 600px; 
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* tablet */
@media screen and (max-width:992px) {

.imm img{
margin-top: 25px;
}
}
/* mobile */
@media screen and (max-width:768px) {
  
  .imm img{
    margin-top: 0;
    }

  }

